certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
gTTS==2.5.1
idna==3.7
playsound==1.2.2
PyAudio==0.2.14
pycairo==1.26.0
PyGObject==3.48.2
requests==2.32.0
setuptools==69.5.1
SpeechRecognition==3.10.4
typing_extensions==4.11.0
urllib3==2.2.1
wheel==0.43.0
